<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="aboutus.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
	<title> About Us </title>
<head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Facts Me Up!</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/create">Create</a></li>
				<li class="active"><a href="/about">About Us</a></li>
			</ul>
		</div>
	</div>
</div>
	<div class="main-container">
		<h1> ABOUT US </h1>
		<h2> What is Facts Me Up? </h2> 
		<p> Facts Me Up is a simple aplication that allows users to create lists of facts that range from any topics, from cats to scube diving. Other users can then subscribe to these facts depending n what they like and receive these facts on their phones. </p>
		<h2> Who are we? </h2>
		<p> We are a team of high schoolers from Bergen County Academies that love programming and kicking ass.</p>
		<h2> Why is this even a thing? </h2>
		<p> The idea for Fax Me Up originated from CatFacts, which had people forcefully subscribed to these facts about cats and unable to unsubscribe. </p>
	</div>
</body>
</html>