<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="aboutus.css">
	<title> About Us </title>
<head>
<body>
	<h1> ABOUT US </h1>
	<h2> What is Facts Me Up? </h2> 
	<p> Facts Me Up is a simple aplication that allows users to create lists of facts that range from any topics, from cats to scube diving. Other users can then subscribe to these facts depending n what they like and receive these facts on their phones. </p>
	<h2> Who are we? </h2>
	<p> We are a team of high schoolers from Bergen County Academies that love programming and kicking ass.
	<h2> Why is this even a thing? </h2>
	<p> The idea for Fax Me Up originated from CatFacts, which had people forcefully subscribed to these facts about cats and unable to unsubscribe. </p>
</body>
</html>