<html>
<head>
  <title>BCA Field Day</title>
  <link rel="icon" type="image/png" href="/static/icon.png" />
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src="/static/canvasjs.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  window.onload = function () {
    var updateInterval = 2000;  // milliseconds
    var timeElapsed = 0;
    var lastUpdate = 0;
    $.getJSON('/scores', {
    }, function(data) {
      lastUpdate = data.current;
    });

    var updateChart = function () {
      timeElapsed+= 2;
            // Selecting a random dataPoint
      //var dataPointIndex = Math.round(Math.random()*3);   
      //var dataPointIndex = 0;
      // generating random value
      //var deltaY = Math.random()*100;

      $.getJSON('/scores', {

      }, function(data) {
        blue = data.blue;
        green = data.green;
        red = data.red;
        yellow = data.yellow;
        current = data.current;
      });
      // adding random value to random dataPoint
      var minutesElapsed = parseInt(timeElapsed/60);
      if (minutesElapsed > 0) {
        if (minutesElapsed == 1) {
          $('#updateContainer').text('Last Update: A minute ago');
        } else {
          $('#updateContainer').text('Last Update: ' + minutesElapsed + ' minutes ago');
        }
      }
      if (lastUpdate != current) {
        lastUpdate = current;
        timeElapsed = 0;
        $('#tableContainer').fadeOut('fast');
        $('#tableContainer').load("/fulltable");
        $('#tableContainer').fadeIn('fast');
        $('#updateContainer').text('Last Update: Just Now');
      }
      // updating legend text. 
      //sum = sum + deltaY;
      //totalEmployees = "TOTAL POINTS ACCUMULATED BY ALL TEAMS: " + sum;      
      //chart.options.data[0].legendText = totalPoints;  
    };
      // update chart after specified interval
      setInterval(function(){updateChart()}, updateInterval);

    };
    </script>
</head>
<body>
  <div id="container">
    <div id="top" style="margin: 0 auto;">
      <div id="headerContainer">
        <div id="header"><a href="/" style="text-decoration:none">BCA <strong>FIELD DAY</strong></a> </div>
      </div>
      <div id="credits">
        Developed by Kenneth Rhee & Designed by Hyobin Im
        <div id="updateContainer">Last Update: Just Now</div>
      </div>
    </div>
    <div id="bottom" style="height:80%;">
      <div id="tableContainer">
        <table>
          <tr>
            <td> <strong>Event Name</strong> </td>
            <td> <strong>Points</strong> </td>
            <td> <strong>Team</strong> </td>
            <td> <strong>#</strong> </td>
          </tr>
          {% for event in events %}
          <tr>
            <td>{{ event['event'] }}</td>
            <td>{{ event['points'] }}</td>
            <td>{{ event['team'] }}</td>
            <td>{{ event['comment'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</body>
</html>