<html>
<head>
	<title>BCA Field Day</title>
  <link rel="icon" type="image/png" href="/static/icon.png" />
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src="/static/canvasjs.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">


  window.onload = function () {

    CanvasJS.addColorSet("teamColors",
                [//colorSet Array

                "#D62408",
                "#2159D6",
                "#21AA29",
                "#FFCF00"             
                ]);
    // initial values of dataPoints
    var dps = [
    {label: "RED", y: {{red}}},
    {label: "BLUE", y: {{blue}}},
    {label: "GREEN", y: {{green}}},
    {label: "YELLOW", y: {{yellow}}},
    ];
    //var totalPoints = "TOTAL POINTS ACCUMULATED BY ALL TEAMS: 0";

    var chart = new CanvasJS.Chart("chartContainer",{
      backgroundColor: "F3F3F3",
      colorSet: "teamColors",
      theme:  "theme1",
      title:{ 
        text: ""
      },
      axisY: {        
        title: "NUMBER OF POINTS"
      },          
      legend:{
        verticalAlign: "top",
        horizontalAlign: "centre",
        fontSize: 18

      },
      data : [{
        type: "column",
        showInLegend: false,
        legendMarkerType: "none",       
        indexLabel: "{y}",
        dataPoints: dps
      }]
    });

    // renders initial chart
    chart.render();

    var updateInterval = 2000;  // milliseconds
    var timeElapsed = 0;
    var lastUpdate = 0;
    $.getJSON('/scores', {
    }, function(data) {
      lastUpdate = data.current;
    });

    var updateChart = function () {
      timeElapsed+= 2;
            // Selecting a random dataPoint
      //var dataPointIndex = Math.round(Math.random()*3);   
      //var dataPointIndex = 0;
      // generating random value
      //var deltaY = Math.random()*100;

      $.getJSON('/scores', {

      }, function(data) {
        blue = data.blue;
        green = data.green;
        red = data.red;
        yellow = data.yellow;
        current = data.current;
      });
      // adding random value to random dataPoint
      dps[0].y = red;
      dps[1].y = blue;
      dps[2].y = green;
      dps[3].y = yellow;
      var minutesElapsed = parseInt(timeElapsed/60);
      if (minutesElapsed > 0) {
        if (minutesElapsed == 1) {
          $('#updateContainer').text('Last Update: A minute ago');
        } else {
          $('#updateContainer').text('Last Update: ' + minutesElapsed + ' minutes ago');
        }
      }
      if (lastUpdate != current) {
        lastUpdate = current;
        timeElapsed = 0;
        $('#tableContainer').fadeOut('fast');
        $('#tableContainer').load("/table");
        $('#tableContainer').fadeIn('fast');
        $('#updateContainer').text('Last Update: Just Now');
      }
      chart.render();
      // updating legend text. 
      //sum = sum + deltaY;
      //totalEmployees = "TOTAL POINTS ACCUMULATED BY ALL TEAMS: " + sum;      
      //chart.options.data[0].legendText = totalPoints;  
    };
      // update chart after specified interval
      setInterval(function(){updateChart()}, updateInterval);

    };
    </script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <div id="headerContainer">
          <div id="header">BCA <strong>FIELD DAY</strong></div> 
        </div>
        <!-- <h2>Developed by Kenneth Rhee</h2> -->
        <div id="credits">
          Developed by Kenneth Rhee & Designed by Hyobin Im <br>
          <strong>The winner of Field Day is the Green Team!</strong>
          <div id="updateContainer">Last Update: Just Now</div>
        </div>
        
        <div id="chartContainer">
        </div>
      </div>
      <div id="bottom">
        <div id="tableContainer">
          <table>
            <tr>
              <td> <strong>Event Name</strong> </td>
              <td> <strong>Points</strong> </td>
              <td> <strong>Team</strong> </td>
            </tr>
            {% for event in events %}
            <tr>
              <td> {{ event['event'] }} </td>
              <td> {{ event['points'] }} </td>
              <td> 
                {{ event['team'] }}

              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <a href="/events" style="text-decoration: none; margin-bottom:3px; margin-top:3px;">show more ...</a>
      </div>
    </div>
  </body>
  </html>