<html>
<head>
<title>Facts Me Up!</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="page-header">
<h2>Welcome to Facts Me Up!</h2>
</div>

<div class="main-container">
<h3>Random facts list
	<small>
		<form>
    		Phone # <input id="phone-input" type="text" name="phonenum">
    	</form>
	</small>
</h3>

	<table class="table">
	  <tr>
	    <td><strong></strong> </td>
	    <td>
	    	<form>
	    		<input type="hidden" name="phonenum-hidden">
	    	</form>
	    </td>
	    <td><button type="button" class="btn">Send</button></td>
	  </tr>
	  {% for fact in facts %}
	  <tr>
	    <td>{{ fact['number'] }}</td>
	    <td>{{ fact['text'] }}</td>
	    <td>
	    	<form>
	    		<input type="hidden" name="phonenum-hidden">
	    	</form>
	    </td>
	    <td><button type="button" class="btn">Send</button></td>
	  </tr>
	  {% endfor %}
	</table>
</div>
</body>
</html>

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 <script>
 	(function($) {

		$( '#phone-input' ).change(function() {
			console.log("input area changed");
		});

 	})(jQuery)
 </script>