<html>
	<head>
		<title>Facts Me Up!</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Facts Me Up!</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/create">Create</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-container">
			<div class="page-header">
				<h2>Welcome to Facts Me Up!
					<small>
						<input id="phone-input-global" name="phone_number_global" type="text" placeholder="Enter Phone Number Here">
					</small>
				</h2>
			</div>
			{{ message }}
			<h3>Random facts list</h3>
				<table class="table">
			  		{% for fact in facts %}
			  		<form method="post" action='/send' name='send'>
			  			<input name='selected_fact' type='hidden' value='{{ fact }}'>
				  		<tr>
					    	<td>{{ fact }}</td>
					    	<td><input id="phone-input" type="text" name="phone_number"></td>
					    	<td><input name="submit" type="submit" class="btn" value="send"></td>
					  	</tr>
				  	</form>
				  	{% endfor %}
				</table>
			
		</div>
	</body>
</html>

<script>

(function($) {
	
	$( '#phone-input-global' ).change(function() {
		$( 'td input#phone-input' ).each(function() {
			$( this ).val($( '$phone-input-global' ).val());
	});

})(jQuery)

</script>