<html>
<head>
	<title>BCA Field Day</title>
	<link rel="stylesheet" type="text/css" href="http://bcafieldday.com/static/style.css">
	<script type="text/javascript" src="http://bcafieldday.com/static/canvasjs.min.js"></script>
    <link rel="icon" type="image/png" href="/static/icon.png" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">


  window.onload = function () {

    CanvasJS.addColorSet("teamColors",
                [//colorSet Array

                "#2159D6",
                "#21AA29",
                "#D62408",
                "#FFCF00"             
                ]);
    // initial values of dataPoints
    var dps = [
    {label: "BBBB", y: 155},
    {label: "GGGGG", y: 150},
    {label: "RRR", y: 160},
    {label: "YYYYYY", y: 140},
    ];
    //var totalPoints = "TOTAL POINTS ACCUMULATED BY ALL TEAMS: 0";

    var chart = new CanvasJS.Chart("chartContainer",{
      backgroundColor: "F3F3F3",
      colorSet: "teamColors",
      theme:  "theme1",
      title:{ 
        text: ""
      },
      axisY: {        
        title: "L'ETAT C'EST MOI"
      },          
      legend:{
        verticalAlign: "top",
        horizontalAlign: "centre",
        fontSize: 18

      },
      data : [{
        type: "column",
        showInLegend: false,
        legendMarkerType: "none",       
        indexLabel: "{y}",
        dataPoints: dps
      }]
    });

    // renders initial chart
    chart.render();
    };
    </script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1>TEST <strong>PAGE</strong></h1>
        <!-- <h2>Developed by Kenneth Rhee</h2> -->
        <div id="chartContainer" style="height:300px; width:95%; margin: 0 auto;">
        </div>
      </div>
      <div id="bottom">
        <div id="tableContainer">
          <table>
            <tr>
              <td> IGNORE TEXT </td>
              <td> FILLER </td>
              <td> FILLER </td>
            </tr>
  <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>
    <tr>
    <td> FILLER </td>
    <td> 00 </td>
    <td> BBBB </td>
  </tr>

          </table>
        </div>
      </div>
    </div>
  </body>
  </html>